

fieldset {
padding: 10px;
border: 3px #531eb4 solid;
margin: 10px;
width: 650px;
padding: 50px;
margin-left: auto;
    margin-right: auto;
}
legend {
font-weight: bold;
color: #531eb4;
}
form label {
float: left;
width: 350px;
margin: 3px 0px 10px 0px;
padding-top: 25px;
}
form input {
margin: 3px 3px 0px 0px;
}
form TextField {
margin: 3px 3px 0px 0px;
}
.field{
    width: 200px;
    padding : 2px;
    margin:-10px;
    
} 